* ----- Custom CSS Reset ----- */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

table {
    border-collapse: collapse;
    border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%; 
}

body {
    background-color: #94a3b8;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* ----- Header ----- */

header {
    background-color: #334155;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 20px 40px;
    color: #e2e8f0;
    display: inline-block;
}

.add-book-btn {
    align-self: center;
    margin: 20px 40px;
    padding: 0.8rem;
    border-radius: 10px;
    background-color: #a855f7;
    transition-duration: 0.2s;
    cursor: pointer;
}

.add-book-btn:hover {
    background-color: #c084fc;
}

/* ----- Table ----- */

.library, th, td {
    border: 2px solid #64748b;
    background-color: #334155;
    color: #e2e8f0;
}

.library {
    width: clamp(400px, 60%, 1000px);
    margin: 20px auto;
}

th {
    color: #94a3b8;
    background-color: #1e293b;
}

th, td {
    padding: 15px;
}

tr:hover td {
    background-color: #475569;
}

tr td:nth-child(3) {
    text-align: right;
}

tr td:nth-child(4) {
    text-align: center;
}

th:nth-child(5) {
    display: flex;
    border: none;
    justify-content: center;
}

/* --- Buttons --- */

.change-btn, .delete-btn {
    padding: 8px;
    margin-left: 20px;
    font-size: 80%;
    border-radius: 8px;
    background-color: #0ea5e9;
    transition-duration: 0.2s;
}

.change-btn:hover {
    background-color: #7dd3fc;
}

.add-book-btn:active, .change-btn:active, .delete-btn:active {
    transform: translateY(2px);
}

.delete-btn {
    background-color: #e11d48;
}

.delete-btn:hover {
    background-color: #fb7185;
}

.trash {
    width: 1.8rem;
}
